{% extends "base.html" %}
{%block content%}
<div class="col-md-6 offset-md-3">
</br>
{% if records %}
	{% for record in records %}
		{{ record.first_name }} {{ record.last_name }}
			{{ record.email }}
			{{ record.phone }}
			{{ record.address }}
			{{ record.city }}
			{{ record.state }}
			{{ record.zipcode }}
			{{ record.created_at }}
      {{ record.id }}
		{% comment %} <td><a href="{% url 'record' record.id %}">{{ record.id }}</a></td>
		</tr> {% endcomment %}
	{% endfor %}

{% endif %}

<form method="POST" action="{% url 'home' %}">
	{% csrf_token %}

  <div class="mb-3">
    <input type="text" class="form-control" name="username", placeholder="Username" required>
    
  </div><br/>
  <div class="mb-3">
    <input type="password" class="form-control" name="password", placeholder="Password" required>
  </div>
  <br/>
  <button type="submit" class="btn btn-secondary">Login</button>

</form>
</div>
{%endblock%}