{%extends 'base.html'%}
{% block content%}
<div class="card">
    <div class="card-header">
    {{customer_record.first_name}}{{customer_record.last_name}}
    </div>
    <div class="card-body">
      <h5 class="card-title">
      <strong>Email:</strong>{{customer_record.email}}<br/>
       <strong>Address:</strong>{{customer_record.address}}<br/>
       <strong>City:</strong>{{customer_record.city}}<br/>
       <strong>State:</strong>{{customer_record.state}}<br/>
       <strong>Zip-code:</strong>{{customer_record.zip}}<br/>
       <strong>Registered Time:</strong>{{customer_record.created_at}}<br/>
       <strong>Id:</strong>{{customer_record.id}}<br/>
        </h5>
    </div>
  </div>

  <br/><br/>
  <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
  
  <a href="{% url 'delete_record' customer_record.id %}" class="btn btn-danger">Delete</a>
  

{%endblock%}